<section class="route">
    <header class="search">
        <nav>
            <md-button class="md-icon-button" aria-label="Return to search result" ng-click="back()">
                <md-icon>&#xE5C4;</md-icon>
            </md-button>
            <div class="travelmode">
                <md-button class="md-icon-button" ng-class="{ 'active': travelMode === 'WALKING' }" aria-label="" ng-click="setTravelmode('WALKING')">
                    <md-icon>&#xE536;</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-class="{ 'active': travelMode === 'BICYCLING' }" aria-label="" ng-click="setTravelmode('BICYCLING')">
                    <md-icon>&#xE52F;</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-class="{ 'active': travelMode === 'TRANSIT' }" aria-label="" ng-click="setTravelmode('TRANSIT')">
                    <md-icon>&#xE535;</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-class="{ 'active': travelMode === 'DRIVING' }" aria-label="" ng-click="setTravelmode('DRIVING')">
                    <md-icon>&#xE531;</md-icon>
                </md-button>
            </div>
        </nav>
        <div class="searchbox-container md-body-1">
            <md-input-container md-no-float>
                <input type="text" id="originInput"
                       placeholder="Select origin"
                       ng-focus ="onFocus(origin)"
                       ng-model="origin.query"
                       ng-change="find(origin.query)"
                       ng-keypress="onKeypress($event)" />
                <i class="material-icons" ng-if="origin.query.length > 0" ng-click="origin.reset()">&#xE14C;</i>
            </md-input-container>
        </div>
        <div class="searchbox-container md-body-1">
            <md-input-container md-no-float>
                <input type="text" i id="destinationInput"
                       placeholder="Select destination"
                       ng-focus ="onFocus(destination)"
                       ng-model="destination.query"
                       ng-change="find(destination.query)"
                       ng-keypress="onKeypress($event)" />
                <i class="material-icons" ng-if="destination.query.length > 0" ng-click="destination.reset()">&#xE14C;</i>
            </md-input-container>
        </div>
        <div class="checkbox-container md-body-1">
            <md-checkbox ng-model="avoidStairs" ng-change="updateRoute()" aria-label="Avoid stairs?">
                Avoid stairs?
            </md-checkbox>
        </div>
        <md-button class="switch-direction md-icon-button" aria-label="" ng-click="reverse()">
            <md-icon>&#xE8D5;</md-icon>
        </md-button>
    </header>
    <ul class="network" ng-if="legs.length === 0">
        <li ng-class="current.network === 'VENUE' ? 'active' : ''">
            <md-button class="md-icon-button" aria-label="Search on Venue" title="Search on Venue" ng-click="switchNetwork('VENUE')">
                <md-icon>&#xE7EE;</md-icon>
            </md-button>
        </li>
        <li ng-class="current.network === 'GOOGLE_PLACES' ? 'active' : ''">
            <md-button class="md-icon-button" aria-label="Search via Google" title="Search via Google" ng-if="enableGooglePlaces" ng-click="switchNetwork('GOOGLE_PLACES')">
                <md-icon>&#xE80B;</md-icon>
            </md-button>
        </li>
    </ul>
    <content flex>
        <div class="progress" ng-show="loading">
            <md-progress-circular md-diameter="30px" md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-list class="results" ng-if="legs.length === 0">
            <md-list-item ng-repeat="location in current.results" ng-click="select(location)">
                <div class="icon"><list-icon src="location"></list-icon></div>
                <div class="md-list-item-text">
                    <span class="title">{{location.properties.name}}</span>
                    <span class="sub_title" ng-if="['myposition', 'google_places'].indexOf(location.properties.type) < 0"><i>{{location.properties.venue}} / {{location.properties.building}} / {{location.properties.floor}}</i></span>
                </div>
                
                <!--<span class="label" aria-label="{{location.name||location.properties.name}}">{{location.name||location.properties.name}}</span>-->
            </md-list-item>
        </md-list>
        <route-leg ng-repeat="leg in legs" ng-click="setLeg($index)" ng-class="{selected: $index==getLeg()}"></route-leg>
    </content>
    <footer ng-if="legs.length > 0">
        <md-button class="md-raised" ng-disabled="isFirstLeg()" ng-click="prevLeg()">Previous</md-button>
        <md-button class="md-raised md-accent" ng-disabled="isLastLeg()" ng-click="nextLeg()">Next</md-button>
    </footer>
</section>
